.sg-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #f4f4f4;
    margin-bottom: 48px;
}
.sg-menu-toggle {
    display: inline-block;
    background: yellow;
    padding: 12px;
    margin-right: 24px;
}
.sg-menu-toggle:before {
    content: '\2630';
    margin-right: 4px;
}
.sg-menu-toggle + input {
    visibility: hidden;
}
.sg-menu-list {
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    position: absolute;
    left: -300px;
    z-index: 9999;
    background: #222;
    transition: left 0.2s ease-in;
}
.sg-menu-toggle + input:checked + .sg-menu-list {
    left: 0;
}
.sg-menu-list li {
    color: #fff;
}
.sg-menu-list li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 12px 8px;
}
.color-box {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eee;
    margin-right: 4px;
}
.sg-2col {
    display: flex;
}
.sg-2col div {
    flex-basis: 50%;
}
pre.sg {
    background: #222;
    color: #fff;
    padding: 16px;
}
pre.sg, pre.sg code {
    font-size: 12px;
    line-height: 1.1;
}
.vspace-example {
    position: relative;
}
.vspace-example:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/spacing-example-grid.png");
}
.sg-rule {
    border: 1px solid lightgreen;
    padding: 16px;
}
.sg-rule::before {
    content: 'Rule';
    display: inline-block;
    background: #f4f4f4;
    margin-right: 12px;
    padding: 4px;
}
