.LP2 .main-content {
    padding: 0;
}

.LP2 .main-content a {
    text-decoration: none;
}

.LP2 .ltu-button:hover {
    text-decoration: none;
}

.LP2 .main-content div>section:nth-child(even) {
    background-color: #f4f4f4;
}

.LP2 .main-content div>section.dark:nth-child(even) {
    background-color: #242424;
}

.LP2 .section-heading {
    color: #e42312;
    text-align: center;
}

.LP2 .section-intro {
    display: none;
    text-align: center;
}

@media (min-width:768px) {
    .LP2 .section-intro {
        display: block;
    }
}

@media (min-width:1024px) {
    .LP2 .layout {
        overflow-x: inherit;
    }
}

.LP2 .cta {
    line-height: 20px;
    margin-bottom: 0;
}

.LP2 .main-content div>section:nth-child(even) .event-date {
    background-color: #fff;
}

/* LP2 Banner */

@media (min-width:768px) {
    .LP2 .banner {
        min-height: 520px;
    }
}

.LP2 .banner {
    max-height: 52vh;
}

/* personalisation filters */

#personalisation-filters {
    display: none;
}

.js #personalisation-filters {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    opacity: 0;
    position: fixed;
    top: -200%;
    transition: opacity .3s;
    width: 100%;
    z-index: 100;
}

#personalisation-filters.on {
    bottom: 0;
    opacity: 1;
    top: 0;
}

#personalisation-filters>div {
    background: rgb(226, 35, 27);
    background: url(/__data/assets/file/0005/796397/bg-nodes.svg), linear-gradient(to bottom, rgb(226, 35, 27) 1%, rgb(209, 65, 36) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    width: 90%;
}

.personalisation-block {
    box-sizing: border-box;
    flex: 1 0 0px;
    padding: 30px;
    position: relative;
}

.personalisation-block input#P-nope {
    display: block;
    margin: 0;
}

.personalisation-split {
    background: #fff;
    bottom: 0;
    display: block;
    height: 4px;
    left: 50%;
    margin: 30px 0;
    position: relative;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
}

.personalisation-split:after {
    background: #fff;
    border-radius: 100%;
    color: #e1261c;
    content: "or";
    display: block;
    font-size: 20px;
    font-family: 'Roboto Bold', sans-serif;
    height: 40px;
    line-height: 2;
    left: 50%;
    margin-top: 0;
    text-indent: 12px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
}

.personalisation-block input {
    width: 100%;
}

@media (min-width:768px) {
    #personalisation-filters>div {
        top: 25%;
    }
}

@media (min-width:960px) {
    #personalisation-filters>div {
        display: -webkit-flex;
        display: flex;
    }
    .personalisation-split {
        height: 100%;
        margin: 0;
        position: absolute;
        width: 4px;
    }
    .personalisation-split:first-child {
        padding-right: 60px;
    }
    .personalisation-split:last-child {
        padding-left: 60px;
    }
    .personalisation-split:after {
        margin-left: -20px;
        margin-top: 120px;
        transform: none;
    }
    .personalisation-block input {
        width: auto;
    }
    #personalisation-filters select {
        width: 80%;
    }
    .personalisation-block input#P-nope {
        margin: 21% auto;
    }
}

#personalisation-filters p {
    margin: 0 0 20px;
}

#personalisation-filters input {
    border: 4px solid white;
    background: none;
    border-radius: none;
    color: inherit;
    margin-right: 12px;
    padding: 12px;
}

#personalisation-filters select {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    display: block;
    margin-top: 12px;
    min-width: 200px;
    padding: 12px 36px 12px 12px;
}

#personalisation-filters select.alert {
    animation: alert 1 2s;
}

#personalise {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: -48px;
    z-index: 9;
}

@media (min-width:1024px) {
    #personalise {
        background-color: rgba(0, 0, 0, 0.6);
        right: 12px;
        top: 12px;
    }
}

#personalisation-filters #P-close {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    right: -12px;
    top: 0;
    z-index: 9;
    width: 48px;
    height: 48px;
    background: transparent url(/__data/assets/file/0007/767095/delete.svg);
    font-size: 0;
}

.nav-out #personalise {
    z-index: 10;
}

#personalisation-filters .modified {
    min-width: 320px;
    width: 30vw;
}

.modified .personalisation-split,
.modified .personalisation-split+div {
    position: absolute;
    left: -200vw;
}

.modified #filter-aos {
    display: none;
}

.modified label {
    font-size: 20px;
    line-height: 24px;
}

.modified #P-level {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.modified #P-level option {
    padding: 8px 0;
}

.modified #P-level option:checked {
    background: rgba(0, 0, 0, 0.3);
}

.modified #P-level option:first-child {
    display: none;
}

@keyframes alert {
    0% {
        background-color: #e2231b;
    }
    100% {
        background-color: #fff;
    }
}
/* Our Courses - Funnelback course-search on home and courses */

.our-courses {
    background: rgb(226, 35, 27);
    background-image: url(/__data/assets/file/0005/796397/bg-nodes.svg);
    background: url(/__data/assets/file/0005/796397/bg-nodes.svg), linear-gradient(to bottom, rgb(226, 35, 27) 1%, rgb(209, 65, 36) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    padding: 20px;
}

.our-courses h1,
.our-courses .section-heading {
    color: #fff;
    text-align: center;
}

.our-courses h2 {
    text-align: center;
}

.our-courses form {
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 20px;
}

#our-course-search .awesomplete {
    width: calc(100% - 49px);
}

#our-course-search div.awesomplete>ul>li {
    color: #242424;
}

.our-course-search label {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
}

.our-course-search input[type=search] {
    border: none;
    border-radius: 0;
    height: 48px;
    padding: 12px 20px;
}

.our-course-search input[type=submit] {
    background: #fff url(/__data/assets/file/0007/841156/search-red.svg) no-repeat 0 0;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #242424;
    height: 48px;
    margin-left: 1px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 48px;
    border-radius: 0;
}

.our-course-search input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.our-course-search input[type=search]::-webkit-input-placeholder {
    color: #e42312;
    font-size: inherit;
    font-family: 'Roboto Bold', sans-serif;
    line-height: 28px;
}

.our-course-search input[type=search]::-moz-placeholder {
    color: #e42312;
    font-size: inherit;
    font-family: 'Roboto Bold', sans-serif;
    opacity: 1;
}

.our-course-search input[type=search]:-ms-input-placeholder {
    color: #e42312;
    font-size: inherit;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 700;
}

.our-course-search input[type=search]:-moz-placeholder {
    color: #e42312;
    font-size: inherit;
    font-family: 'Roboto Bold', sans-serif;
    opacity: 1;
}

@media (min-width:768px) {
    .home .our-courses {
        margin: calc(-3vw - 86px) 6vw 0 6vw;
        padding: 3vw;
        position: relative;
    }
}

@media (min-width:1400px) {
    .our-courses h3 {
        font-size: 24px;
        line-height: 28px;
    }
}

.course-search-results {
    background-color: #fff;
    color: #242424;
    margin-bottom: 24px;
    padding: 20px;
}

@media (min-width:1024px) {
    .course-search-results {
        padding: 48px;
    }
}

#fb-no-results {
    margin: 0;
}

.fb-current-result-page {
    color: #999;
}

/* Slider */

.slider {
    background-color: #eee;
    overflow-x: scroll;
    overflow-y: hidden;
}

.js .slider {
    overflow: hidden;
}

.slider h2 {
    color: #e2231b;
    margin-bottom: 0px;
    padding: 10px 56px;
    text-align: center;
}

.slider-item {
    box-sizing: border-box;
    display: table-cell;
    min-width: 100vw;
    position: relative;
}

.slider-item:after {
    background: #e42312;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}

.js .slider-item {
    transform: translateX(-100vw);
    transition: transform 0.3s ease-in-out;
}

.js .left .slider-item {
    transform: translateX(0);
}

.js .right .slider-item {
    transform: translateX(-200vw);
}

.js .slider-item:first-child,
.js .slider-item:last-child {
    opacity: 0.5;
}

.left .slider-item:first-child {
    opacity: 1;
}

.left .slider-item:nth-child(2) {
    opacity: 0.5;
}

.right .slider-item:last-child {
    opacity: 1;
}

.right .slider-item:nth-child(2) {
    opacity: 0.5;
}

.slider-images {
    box-sizing: border-box;
}

.main-content .slide-story img {
    float: none;
    padding: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
}

.slide-story p:not(:last-child) {
    margin: 0 0 12px;
}

.slider img+img {
    display: none;
    margin-left: 40px;
}

.slider-item-text {
    box-sizing: border-box;
    font-size: 18px;
    padding: 20px;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.slider-item-text h3 {
    color: #DA7C3A;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px;
}

.slider-item-text h3+p {
    margin: 0 0 40px;
}

.slider-item-text .cta {
    position: relative;
}

.slider-item-text .ltu-button {
    margin-bottom: 8px;
}

@media (min-width:768px) {
    .slider {
        background-color: transparent;
        margin-bottom: 3vw;
        padding: 0 12vw;
    }
    .slider-item:after {
        background: none;
    }
    .js .slider-item {
        transform: translateX(-76vw);
    }
    .js .right .slider-item {
        transform: translateX(-152vw);
    }
    .slider-item {
        background-color: transparent;
        min-width: 76vw;
    }
    .slider-images {
        display: inline-block;
        max-width: 35%;
        padding: 0 0 60px 60px;
    }
    .slider img+img {
        display: inherit;
    }
    .slider-item-text h3 {
        margin-bottom: 8px;
    }
    .slider-item-text {
        background-color: rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        display: inline-block;
        max-width: 65%;
        padding: 60px;
        vertical-align: top;
    }
    .slider-item-text:after {
        background: #e42312;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 12px;
    }
    .slider-item-text:after {
        content: "";
    }
}

@media (min-width:900px) {
    .slider h2 {
        margin-bottom: 48px;
    }
}

@media (min-width:1024px) {
    .slider-item-text {
        vertical-align: text-bottom;
    }
}

@media (min-width:1400px) {
    .slider-item-text h3 {
        font-size: 24px;
        line-height: 28px;
    }
}

/* LP2 Nav */

.LP2-nav {
    background-color: #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}

.LP2-nav.scrolls:after {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4', GradientType=1);
    /* IE6-9 */
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    padding: 20px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100px;
}

.LP2-nav ul {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 20px;
    position: relative;
}

.LP2-nav li {
    -webkit-flex: 1 0 40%;
    flex: 1 0 40%;
    font: 14px/16px 'Roboto Bold', sans-serif;
    line-height: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.LP2-nav li:hover,
.onscreen {
    box-shadow: 0 -3px 0 #e42312 inset;
}

.onscreen+.onscreen {
    box-shadow: none;
}

.LP2-nav a {
    box-sizing: border-box;
    color: #242424;
    display: block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

.LP2-nav a:hover {
    color: #e42312;
}

@media (min-width:768px) {
    .LP2-nav ul {
        padding: 0 12vw;
    }
    .LP2-nav li {
        -webkit-flex: 1 0 0;
        flex: 1 0 0%;
    }
}

@media (min-width:1024px) {
    .LP2-nav {
        top: 128px;
    }
}

/* Course Search */

@media (min-width:768px) {
    .LP2 .our-courses {
        margin: 0 6vw 0 6vw;
        padding: 3vw;
        position: relative;
    }
}

/* Course search */

.LP2-course-search {
    margin: 0;
    padding: 20px;
}

.LP2-course-search form {
    background-color: transparent;
    padding: 0;
}

.LP2-course-search>div p a {
    white-space: nowrap;
}

.LP2-course-search input[type="text"],
.LP2-course-search select {
    border: 4px solid #242424;
    padding: 10px 12px;
    vertical-align: top;
}

.LP2-course-search input[type="submit"] {
    background: #fff url(/__data/assets/file/0007/796390/search.svg) no-repeat 0 -2px;
    background-size: 44px;
    border: 4px solid #242424;
    border-left: none;
    box-sizing: border-box;
    height: 48px;
    margin: 12px 0;
    padding: 0;
    text-indent: -100vw;
    width: 48px;
}

.LP2-course-search select {
    margin: 12px 0;
    width: calc(100% - 48px);
}

.LP2-course-search .ltu-button {
    display: block;
    padding: 8px 40px 8px 12px;
}

@media (min-width:768px) {
    .LP2-course-search {
        padding: 3vw 12vw;
    }
    .LP2-course-search .LP2-course-search-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .LP2-course-search .LP2-course-search-wrapper div {
        -webkit-flex: 0 0 75%;
        flex: 0 0 75%;
    }
}

@media (min-width:1024px) {
    .LP2-course-search input[type="text"] {
        border-right: none;
        margin-bottom: 0;
    }
    .LP2-course-search input[type="text"],
    .LP2-course-search select {
        height: 52px;
        padding: 10px 16px;
        width: calc(50% - 52px);
    }
    .LP2-course-search select {
        margin: 0;
    }
    .LP2-course-search input[type="submit"] {
        background-size: 48px;
        height: 52px;
        margin: 0;
        width: 52px;
    }
}

/* Students search */

.LP2-students-search {
    margin: 0;
    padding: 20px;
}

.LP2-students-search form {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.LP2-students-search>div p a {
    white-space: nowrap;
}

.LP2-students-search input[type="text"] {
    border: 4px solid #242424;
    padding: 10px 12px;
    width: calc(100% - 48px);
}

.LP2-students-search input[type="submit"] {
    background: #fff url(/__data/assets/file/0007/796390/search.svg) no-repeat 0 -2px;
    background-size: 44px;
    border: 4px solid #242424;
    border-left: none;
    box-sizing: border-box;
    height: 48px;
    margin: 12px 0;
    padding: 0;
    text-indent: -100vw;
    width: 48px;
}

.LP2-students-search .ltu-button {
    display: block;
}

@media (min-width:768px) {
    .LP2-students-search {
        padding: 3vw 12vw;
    }
    .LP2-students-search .LP2-students-search-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .LP2-students-search .LP2-students-search-wrapper div {
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .LP2-students-search form {
        margin-bottom: 12px;
    }
    .LP2-students-search input[type="submit"] {
        margin: 0;
    }
}

@media (min-width:1024px) {
    .LP2-students-search input[type="text"] {
        height: 52px;
        padding: 10px 16px;
        vertical-align: top;
        width: calc(100% - 52px);
    }
    .LP2-students-search input[type="submit"] {
        background-size: 48px;
        height: 52px;
        width: 52px;
    }
}

/* Supernav */

.supernav {
    perspective: 500px;
}

.supernav button {
    background: transparent url(/__data/assets/file/0005/745196/plus-dark.svg) no-repeat 0 -4px;
    background-size: 32px;
    border: none;
    font: 18px/20px 'Roboto Bold', sans-serif;
    padding-left: 36px;
    text-transform: uppercase;
}

.supernav ul {
    animation: accordion-closed 0.2s 1 ease-in-out forwards;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform-origin: top;
    visibility: hidden;
}

.supernav ul.open {
    animation: accordion-open 0.2s 1 ease-in-out forwards;
}

.supernav li {
    box-shadow: 0 2px 0 #666;
    flex: 0 1 48%;
    font: 14px/20px 'Roboto Bold', sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.supernav li:hover {
    box-shadow: 0 3px 0 #e42312;
}

.supernav a {
    box-sizing: border-box;
    color: #242424;
    display: block;
    height: 100%;
    margin: 0 20px;
    padding: 20px;
    text-decoration: none;
}

.supernav a:hover {
    color: #e42312;
}

@media (min-width:768px) {
    .supernav button {
        background-image: none;
        padding-left: 0;
    }
    .supernav ul {
        animation: accordion-open 0.2s 1 ease-in-out forwards;
    }
    .supernav li {
        flex: 0 1 31.333%;
    }
}

@media (min-width:1024px) {
    .supernav li {
        flex: 0 1 23%;
    }
}

@media (min-width:1280px) {
    .supernav li {
        flex: 0 1 18%;
    }
}

/* LP2 single */

.LP2-single {
    clear: both;
    padding: 20px;
}

.LP2-single.dark {
    background: #242424;
}

.LP2-section-heading {
    text-align: center;
}

.LP2-single.dark .section-intro,
.LP2-single.dark .lp2-section-heading {
    color: white;
}

.LP2-single-item {
    background-color: rgba(228, 35, 18, 0.7);
    color: #fff;
    margin: -48px 0 0 10%;
    padding: 20px;
    position: relative;
}

.LP2-single-item a {
    color: #fff;
    text-decoration: none;
}

.LP2-single-item a:hover {
    text-decoration: underline;
}

figure.LP2-single-image img {
    float: none;
    padding: 0;
    width: 90%;
}

figure.LP2-single-image.yt-video {
    float: none;
    padding: 0;
    width: 90%;
}

figure.LP2-single-image.yt-video.widescreen {
    padding-bottom: 50%;
}

figure.LP2-single-image.yt-video iframe {
    width: 100%;
}

figure.LP2-single-image iframe {
    float: none;
    padding: 0;
    width: 90%;
}

figure.LP2-single-image.widescreen iframe {
    padding-bottom: 50%;
}

@media (min-width:1200px) {
    figure.LP2-single-image.yt-video.widescreen {
        padding-bottom: 36%;
    }
}

@media (min-width:768px) {
    figure.LP2-single-image.yt-video {
        width: 60%;
        margin: 0;
    }
    figure.LP2-single-image.yt-video.widescreen {
        padding-bottom: 41%;
    }
    .LP2-single {
        padding: 3vw 12vw;
        overflow: hidden;
    }
    .left .LP2-single-image img {
        float: right;
    }
    .right .LP2-single-image img {
        float: left;
    }
    figure.LP2-single-image img {
        padding: 0;
        width: 60%;
    }
    .LP2-single-item {
        box-sizing: border-box;
        padding: 48px;
    }
    .left .LP2-single-item {
        margin: 48px 0 0 0;
        width: 48%;
    }
    .right .LP2-single-item {
        margin: 48px 0 0 57%;
        width: 43%;
    }
}

@media (min-width:768px) {
    .left .LP2-single-image.yt-video {
        float: right;
    }
    .right .LP2-single-image.yt-video {
        float: left;
    }
    figure.LP2-single-image iframe {
        padding: 0;
    }
}

/* LP2 Macro */

.LP2-macro {
    padding: 20px 0;
}

.LP2-macro-story {
    -webkit-flex: 1 0 0;
    flex: 1 0 0%;
}

.LP2-macro-story.Black {
    background-color: #242424;
    color: #fff;
}

.LP2-macro-story.Black a {
    color: #fff;
}

.LP2-macro-image {
    background-position: center;
    background-size: 100%;
}

.LP2-macro-image a {
    display: block;
    padding-top: 50%;
}

.LP2-macro a:hover {
    text-decoration: underline;
}

.LP2-macro-text {
    padding: 20px;
}

.LP2-macro-text p {
    word-break: break-all;
}

.LP2-macro-text p.cta {
    word-break: normal;
}

@media (min-width:768px) {
    .LP2-macro {
        padding: 3vw 12vw;
    }
    .LP2-macro-story:nth-child(1) {
        margin-right: 20px;
    }
    .LP2-macro-story:nth-child(3) {
        margin-left: 20px;
    }
    .LP2-macro-story.White {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }
    .LP2-macro-text p {
        word-break: break-word;
    }
}

@media (min-width:1400px) {
    .LP2-macro-text {
        padding: 48px;
    }
}

@media (min-width:1024px) {
    .LP2-macro-text p {
        word-break: normal;
    }
}

/* LP2 Micro */

.LP2-micro {
    padding: 20px;
}

.LP2-micro .flex-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.LP2-micro-item {
    background-position: center top;
    background-size: 150%;
    background-repeat: no-repeat;
    box-shadow: 1px 0 0 #fff inset;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
}

.LP2-micro-item:hover {
    background-color: #f4f4f4;
    box-shadow: 0 -3px 0 #e42312 inset;
}

.LP2-micro-item .cta {
    font-family: 'Roboto Bold', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.LP2-micro-item .cta a {
    display: block;
    margin-bottom: 20px;
    padding: 100% 20px 20px;
}

@media (min-width:768px) {
    .LP2-micro-item {
        -webkit-flex: 1 0 33.333%;
        flex: 1 0 33.333%;
    }
    .LP2-micro {
        padding: 3vw 12vw;
    }
    .LP2-micro .flex-wrapper {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (min-width:1024px) {
    .LP2-micro-item {
        -webkit-flex: 1 0 0;
        flex: 1 0 0%;
    }
    .LP2-micro-item:nth-child(even) {
        transform: translateY(20px);
    }
    .LP2-micro-item:nth-child(odd) .cta {
        transform: translateY(20px);
    }
}

/* LP2 lists */

.LP2-macro ul,
.LP2-single ul {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
}

.LP2-macro li a {
    background: transparent url(/__data/assets/file/0010/806653/chevron-sm-e42312.svg) no-repeat -12px -2px;
    background-size: 32px;
}

.LP2-single li a {
    background: transparent url(/__data/assets/file/0006/764934/chevron-sm-ffffff.svg) no-repeat -20px -12px;
}

.LP2-macro li a,
.LP2-single li a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
}

/* Contact box */

.LP2 .contact-box {
    background: #e2231b url(/__data/assets/file/0005/796397/bg-nodes.svg) no-repeat center !important;
}

.LP2 .contact-box .section-heading {
    color: #fff;
}

.LP2 .contact-box h3 {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-transform: none;
}

/* V6 Promo Single */

.story {
    overflow: hidden;
    position: relative;
}

.story h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 16px 0;
}

.story h2 a {
    text-decoration: none;
}

.story img {
    width: 100%;
}

.story:after {
    background: #e42312;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}

.story-text {
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

@media (min-width:768px) {
    .story {
        max-height: 60vh;
        margin: 3vw 12vw 3vw;
    }
    .story h2 {
        margin-bottom: 8px;
    }
    .content-wrapper .story img {
        height: auto;
        padding: 0;
        position: absolute;
        width: 100%;
    }
    .story-text {
        padding: 20px;
        width: 50%;
    }
    .home .leadin {
        display: block;
    }
    .bleach {
        background: rgba(255, 255, 255, 0.8);
        bottom: 0;
        position: absolute;
        top: 0;
        width: 50%;
    }
}

@media (min-width:1024px) {
    .story-text {
        padding: 60px;
    }
}

@media (min-width:1366px) {
    .story img {
        transform: translateY(-12vh);
    }
}

@media (min-width:1400px) {
    .story h2 {
        font-size: 28px;
        line-height: 32px;
    }
}

/* YouTube video */

.story.story-video {
    max-height: none;
}

.story-video {
    background-color: #000;
}

.story-video .yt-video {
    margin-bottom: 0;
}

.story-video .story-text {
    background-color: #f4f4f4;
}

@media (min-width:768px) {
    .story-video .story-text {
        width: 100%;
    }
}

@media (min-width:900px) {
    .story-video {
        background: rgb(0, 0, 0);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(244, 244, 244, 1) 50%, rgba(244, 244, 244, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(244, 244, 244, 1) 50%, rgba(244, 244, 244, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(244, 244, 244, 1) 50%, rgba(244, 244, 244, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f4f4f4', GradientType=1);
        /* IE6-9 */
        align-items: center;
        display: flex;
    }
    .story-video .yt-video {
        flex: 1 0 50%;
        padding-bottom: 28%;
    }
    .story-video .story-text {
        flex: 1 0 50%;
    }
}

/* Accordion */

.expander {
    margin-top: 40px;
}

@media (min-width:768px) {
    .expander {
        margin: 3vw 12vw 3vw;
    }
}

h2.section-heading {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media (min-width:1400px) {
    h2.section-heading {
        font-size: 32px;
    }
}

/* Proof points */

.brag-bar {
    overflow-x: auto;
}

.brag {
    box-sizing: border-box;
    display: table-cell;
    font-size: 24px;
    padding: 12vw;
    position: relative;
    text-align: center;
    min-width: 90vw;
}

.brag:nth-child(even) {
    background-color: #f4f4f4;
}

.brag p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}

.brag-bar a {
    text-decoration: none;
}

.brag-bar a:after {
    content: url(/__data/assets/file/0010/806653/chevron-sm-e42312.svg);
    display: inline-block;
    margin: -10px 0 0 -10px;
    position: absolute;
}

.brag-bar img {
    display: block;
    margin: 0 auto 12px;
}

.brag span {
    font: 24px/1 'Roboto Bold', serif;
}

@media (min-width:768px) {
    .brag-bar {
        display: flex;
        padding: 0 12vw;
        width: auto;
    }
    .brag {
        display: inherit;
        min-width: 24vw;
        padding: 3vw;
        width: auto;
    }
    .brag:nth-child(even) {
        background-color: #fff;
    }
}

@media (min-width:1200px) {
    .brag {
        min-width: inherit;
    }
}

@media (min-width:1400px) {
    .brag p {
        font-size: 18px;
        line-height: 24px;
    }
}

/* Promo 3 */

.promo-3 {
    background: rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.promo-3+.promo-3 {
    padding-top: 0;
}

.promo-3 h2 {
    color: #e2231b;
    text-align: center;
}

.promo-3-item {
    flex: 1 0 0%;
    margin-bottom: 20px;
    position: relative;
}

.promo-3-item:last-child {
    margin-bottom: 0;
}

.content-wrapper .promo-3-item img {
    float: none;
    padding: 0;
    width: 100%;
}

.promo-3-item p {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    font: normal 20px/24px 'Roboto Bold', sans-serif;
    margin: 0;
    position: absolute;
    width: 100%;
}

.promo-3-item p a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

@media (min-width:768px) {
    .promo-3 {
        padding: 0 12vw;
        padding-bottom: 40px;
    }
    .promo-3+.promo-3 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .promo-3 h2 {
        padding-top: 20px;
    }
    .promo-3-wrapper {
        display: flex;
    }
    .promo-3-item {
        margin-bottom: 0;
    }
    .promo-3-item:first-child {
        margin-right: 20px;
    }
    .promo-3-item:last-child {
        margin-left: 20px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .promo-3-item p {
        top: 0;
    }
}

@media (min-width:1400px) {
    .promo-3-item p {
        font-size: 24px;
        line-height: 28px;
    }
}

/* Promo 6 */

.promo-6 {
    background: rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.promo-6+.promo-6 {
    padding-top: 0;
}

.promo-6 h2 {
    color: #e2231b;
    text-align: center;
}

.content-wrapper .promo-6-item img {
    float: none;
    padding: 0;
    width: 100%;
}

.promo-6-item p {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    font: normal 20px/24px 'Roboto Bold', sans-serif;
    margin: 0;
    position: absolute;
    width: 100%;
}

.promo-6-item p a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

@media (min-width:768px) {
    .promo-6 {
        padding: 0 12vw;
    }
    .promo-6+.promo-6 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .promo-6 h2 {
        padding-top: 20px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .promo-6-item p {
        top: 0;
    }
}

@media (min-width:1400px) {
    .promo-6-item p {
        font-size: 24px;
        line-height: 28px;
    }
}

.promo-6-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.promo-6-item {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

@media (min-width:768px) {
    .promo-6-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .promo-6-item {
        width: calc(100% * (1/3) - 10px);
    }
}

/* V6 Promo Double */

.side-by-side {
    background-color: #f4f4f4;
    padding: 6vw 0 0;
}

.side-by-side-item {
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
}

.side-by-side-item+.side-by-side-item {
    padding-top: 0;
}

.side-by-side h2 {
    color: #e2231b;
    text-align: center;
}

.side-by-side h3 {
    color: #D55731;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px 0;
}

.side-by-side-item img {
    width: 100%;
}

@media (min-width:480px) {
    .side-by-side-item img {
        width: 50%;
    }
}

@media (min-width:768px) {
    .side-by-side {
        padding-top: 6vw;
    }
    .side-by-side-item {
        padding: 3vw 12vw;
    }
    .side-by-side h3 {
        margin-bottom: 4px;
    }
}

@media (min-width:900px) {
    .side-by-side {
        background-color: transparent;
        margin-bottom: 0;
        padding: 3vw 0;
    }
    .side-by-side-wrapper {
        display: flex;
        position: relative;
    }
    .side-by-side-item {
        background-color: rgba(0, 0, 0, 0.05);
        flex: 1 0 0%;
        padding: 0;
        width: 50%;
    }
    div.side-by-side-item img {
        padding: 0 24px 16px 24px;
    }
    .side-by-side-item:first-child {
        margin-bottom: 60px;
        padding: 60px 0 60px 12vw;
    }
    .side-by-side-item:first-child img {
        float: right;
    }
    .side-by-side-item:first-child:after {
        background: #e42312;
        content: "";
        display: block;
        height: 100%;
        margin-left: -6px;
        position: absolute;
        right: calc(50% - 5px);
        top: 0;
        width: 10px;
    }
    .side-by-side-item:last-child {
        margin-top: 60px;
        padding: 60px 12vw 60px 0;
    }
    .side-by-side-item:last-child img {
        float: left;
    }
    .side-by-side h3 {
        margin-bottom: 8px;
    }
    .side-by-side-item:last-child .leadin {
        margin-left: 24px;
    }
    .side-by-side-item:last-child .cta {
        margin-left: 24px;
    }
}

@media (min-width:1400px) {
    .side-by-side h3 {
        font-size: 24px;
        line-height: 28px;
    }
}

/* V6 Promo Triple */

.left-slider-button,
.right-slider-button {
    display: none;
    font: normal 18px/1 'Roboto', sans-serif;
}

.js .left-slider-button,
.js .right-slider-button {
    background: transparent;
    border: none;
    color: transparent;
    display: inherit;
    height: 48px;
    margin-top: -48px;
    overflow: hidden;
    position: absolute;
    width: 48px;
}

.js .left-slider-button:before,
.js .right-slider-button:after {
    background: transparent url(/__data/assets/file/0010/796384/chevron-left-d52b1e.svg) no-repeat 11px 11px;
    background-size: 36px;
    content: "";
    display: block;
    height: 48px;
    position: absolute;
    width: 48px;
}

.js .left-slider-button:hover,
.right-slider-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.js .active.left-slider-button {
    left: auto;
    padding: 0 48px 0 8px;
    right: 0;
}

.js .left-slider-button:before {
    left: 2px;
    top: 2px;
}

.js .active:before {
    left: auto;
    right: 2px;
    top: -2px;
    transform: rotate(180deg);
}

.js .right-slider-button {
    right: 0;
}

.js .active.right-slider-button {
    left: 0;
    padding: 0 8px 0 48px;
    right: auto;
}

.js .right-slider-button:after {
    right: 2px;
    top: -2px;
    transform: rotate(180deg);
}

.js .active:after {
    left: 0;
    top: 2px;
    transform: rotate(0deg);
}

@media (min-width:900px) {
    .js .left-slider-button,
    .js .right-slider-button {
        color: #e2231b;
        text-indent: 0;
        width: auto;
    }
    .js .right-slider-button {
        padding-right: 48px;
        right: 12vw;
    }
    .js .left-slider-button {
        left: 12vw;
        padding-left: 48px;
    }
    .js .active.left-slider-button {
        right: 12vw;
    }
    .js .active.right-slider-button {
        left: 12vw;
        margin-left: 9px;
    }
}

/* IE Legacy */

.lt-ie9 .banner {
    background-color: #2d251a;
    width: 100%;
}

.lt-ie9 .banner-text {
    width: auto;
}

.ie9 .our-courses-wrapper {
    overflow: hidden;
}

.ie9 .flex-item {
    float: left;
    width: 50%;
}

.ie9 .our-course-search input[type="text"] {
    width: calc(100% - 49px);
}

.ie9 .brag-bar {
    overflow: hidden;
}

.ie9 .brag {
    float: left;
    width: 20%;
}

.ie9 .side-by-side {
    overflow: hidden;
}

.ie9 .side-by-side-item {
    float: left;
    width: 50%;
}

.ie9.js .slider {
    overflow-x: scroll;
}

.ie9.js .slider-item {
    transform: none;
}

.ie9.js .left-slider-button,
.ie9.js .right-slider-button {
    display: none;
}

.ie9 .news-events {
    overflow: hidden;
}

.ie9 .v6-news,
.ie9 .v6-events {
    float: left;
    width: 50%;
}

.ie9 .contact-box {
    overflow: hidden;
}

.ie9 .contact {
    float: left;
    width: 33.333%;
}

.story-widget {
  background: none;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
.story-widget__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.story-widget__content-title, .story-widget__content-subtitle, .story-widget__content-description {
  width: 100%;
}
.story-widget .story-widget__background {
  background-position: center;
  background-size: cover;
  min-height: 300px;
  position: relative;
  width: 100%;
}
.story-widget .story-widget__video {
  background-size: contain;
  background: url(/?a=550155) no-repeat center;
  border-radius: 99px;
  border: 5px solid #fff;
  color: #fff;
  cursor: pointer;
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  opacity: 0.8;
}
.story-widget .story-widget__video.enlarge {
  margin: 0 !important;
}
.story-widget .story-widget__wrapper {
  background: none;
  color: white;
}
.story-widget .story-widget__wrapper__content {
  background: none;
}
.story-widget[data-position=left] .story-widget__background {
  order: 2;
}
.story-widget[data-color=black] .story-widget__wrapper {
  background: #242424;
}
.story-widget[data-color=red] .story-widget__wrapper {
  background: #e42312;
}
.story-widget[data-color=grey] .story-widget__wrapper {
  background: #f4f4f4;
  color: #242424;
}
.story-widget[data-color=grey] .ltu-button.light {
  background: transparent url(/__data/assets/file/0003/764841/chevron-sm-000000.svg) no-repeat 98% center;
  border-color: #242424;
  color: #242424;
}
.story-widget[data-color=transparent] .story-widget__wrapper {
  background: none;
  color: #242424;
}
.story-widget[data-color=transparent] .ltu-button.light {
  background: transparent url(/__data/assets/file/0003/764841/chevron-sm-000000.svg) no-repeat 98% center;
  border-color: #242424;
  color: #242424;
}

@media (min-width: 768px) {
  .story-widget {
    display: flex;
    flex-direction: row;
  }
  .story-widget__content {
    padding: 50px;
    min-height: 350px;
  }
  .story-widget__wrapper {
    width: 60vw;
  }
  .story-widget.wide[data-position=right] .story-widget__wrapper {
    justify-content: flex-end;
  }
  .story-widget.wide .story-widget__background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .story-widget.wide .story-widget__wrapper {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3vw 12vw 3vw;
    width: auto;
    width: 100%;
  }
  .story-widget.wide .story-widget__content {
    padding: 20px;
    width: 43%;
  }
  .story-widget.wide[data-color=black] .story-widget__wrapper, .story-widget.wide[data-color=red] .story-widget__wrapper, .story-widget.wide[data-color=grey] .story-widget__wrapper, .story-widget.wide[data-color=transparent] .story-widget__wrapper {
    background: none;
  }
  .story-widget.wide[data-color=black] .story-widget__content {
    background: rgba(36, 36, 36, 0.7);
  }
  .story-widget.wide[data-color=red] .story-widget__content {
    background: rgba(228, 35, 18, 0.7);
  }
  .story-widget.wide[data-color=grey] .story-widget__content {
    background: rgba(244, 244, 244, 0.7);
    color: #242424;
  }
  .story-widget.wide[data-color=transparent] .story-widget__content,
.story-widget.wide[data-color=transparent] .story-widget__wrapper {
    background: none;
    color: #fff;
  }
  .story-widget.wide[data-color=transparent] .ltu-button.light {
    background: transparent url(/__data/assets/image/0004/553369/chevron-lg-white-right.png) no-repeat right center;
    background-size: 26px;
    border-color: #fff;
    color: #fff;
  }
}
.banner-iframe {
  display: none;
}

.lightbox-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  padding-top: 30px;
  margin-top: 30%;
}
.lightbox-wrapper .banner-iframe {
  display: block;
}
.lightbox-wrapper iframe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90vw;
  max-width: 780px;
  max-height: 510px;
  height: 100%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .lightbox-wrapper {
    margin-top: 10%;
  }
}

.story-widget.wide[data-tcolor=black] .story-widget__content,
.story-widget.wide[data-tcolor=black] .story-widget__wrapper{
  color: #242424;
}

.story-widget.wide[data-tcolor=black] .ltu-button,
.story-widget.wide[data-tcolor=black] .ltu-button.light {
  color: #242424;
  border-color: #242424;
  background: transparent url(/__data/assets/file/0003/764841/chevron-sm-000000.svg) no-repeat 98% center;
}


.story-widget.wide[data-tcolor=white] .story-widget__content,
.story-widget.wide[data-tcolor=white] .story-widget__wrapper {
  color: white;
}

.story-widget.wide[data-tcolor=white] .ltu-button,
.story-widget.wide[data-tcolor=white] .ltu-button.light{
  color: white;
  border-color: white;
  background: transparent url(/__data/assets/image/0004/553369/chevron-lg-white-right.png) no-repeat right center;
}

@media (max-width: 768px) {
  .story-widget.wide[data-tcolor=white] .story-widget__content,
  .story-widget.wide[data-tcolor=white] .story-widget__wrapper {
    background: #242424;
  }

  .story-widget.wide[data-tcolor=black] .story-widget__content,
  .story-widget.wide[data-tcolor=black] .story-widget__wrapper {
    background: white;
  }
}


/*---------------------------------------------------*/
/*  Fact Cards (Proof Points)                        */
/*---------------------------------------------------*/

.main-content .lp2-course-proof__point-description p {
    margin: 0;
}
.main-content .lp2-course-proof__point-description a {
    text-decoration: underline;
}

.main-content .lp2-course-proof__point-description a:hover {
    text-decoration: none;
}

.lp2-course-proof {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    font-size: 16px;
    padding: 25px;
}

.lp2-course-proof .lp2-course-proof__heading {
    font-size 26px;
    line-height: 32px;
    color: #242424;
}

.lp2-course-proof__wrapper .lp2-course-proof__point-title {
    font-size: 20px;
    line-height: 24px;
}

.lp2-course-proof[data-colour="black"] {
    background: #242424;
    background: url("/__data/assets/file/0005/796397/bg-nodes.svg"),
        linear-gradient(to bottom, #242424 1%, #3a3a3a 100%);
}
.lp2-course-proof[data-colour="grey"] {
    background: #eeeeee;
    background: url("/__data/assets/file/0008/870164/bg-nodes_0.1_black.svg"),
        linear-gradient(to bottom, #eeeeee 1%, #eeeeee 100%);
}
.lp2-course-proof[data-colour="red"] {
    background: #e2231b;
    background: url("/__data/assets/file/0005/796397/bg-nodes.svg"),
        linear-gradient(to bottom, #e2231b 1%, #d14124 100%);
}

.lp2-course-proof[data-colour="black"].no-background {
    background: #242424;
    background: linear-gradient(to bottom, #242424 1%, #3a3a3a 100%);
}
.lp2-course-proof[data-colour="grey"].no-background {
    background: #eeeeee;
    background: linear-gradient(to bottom, #eeeeee 1%, #eeeeee 100%);
}
.lp2-course-proof[data-colour="red"].no-background {
    background: #e2231b;
    background: linear-gradient(to bottom, #e2231b 1%, #d14124 100%);
}

.lp2-course-proof img.lp2-course-proof__icon {
    padding: 0 0 1rem 0;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    float: none;
}

.lp2-course-proof .lp2-course-proof__image {
    padding: 0;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 25px;
}

.lp2-course-proof__heading {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
.lp2-course-proof__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.lp2-course-proof__point {
    margin: 20px;
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    transition: all 0.3s;
    background-color: #fff;
}
.lp2-course-proof__cta-title {
    background-image: url("/__data/assets/image/0004/549742/chevron-sm-orange.png");
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
    padding-right: 18px;
    margin: 10px 0 0 0 !important;
    color: #e42312;
    font-weight: 300;
    font-family: "Roboto Bold";
    font-size: 18px;
}

a.lp2-course-proof__point:hover {
    /*box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.4);*/
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
}


.lp2-course-proof[data-colour="black"] a.lp2-course-proof__point:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1);
}



.lp2-course-proof__wrapper.four-grid .lp2-course-proof__point,
.lp2-course-proof__wrapper.four-grid .lp2-course-proof__point-link {
    margin: 10px;
}

.lp2-course-proof__point-content {
    background: #fff;
    padding: 30px;
    /*height: 100%;*/
    color: #000;
    box-sizing: border-box;

}
.lp2-course-proof__point {
    background: #fff;
    border: solid 1px #CCC;
}

 .lp2-course-proof[data-colour="black"] .lp2-course-proof__heading,
 .lp2-course-proof[data-colour="red"] .lp2-course-proof__heading {
     color: #FFF;

}


.lp2-course-proof[data-colour="black"] .lp2-course-proof__point-content,
.lp2-course-proof[data-colour="black"] .lp2-course-proof__point,
.lp2-course-proof[data-colour="grey"] .lp2-course-proof__point-content,
.lp2-course-proof[data-colour="grey"] .lp2-course-proof__point,
.lp2-course-proof[data-colour="red"] .lp2-course-proof__point-content,
.lp2-course-proof[data-colour="red"] .lp2-course-proof__point {
    background: #FFF;
    border: none;
}

.lp2-course-proof__point-title {
    color: #e42312;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 25px;
}

a.lp2-course-proof__point.lp2-course-proof__cta-title {
    text-decoration: underline;
}

a.lp2-course-proof__point .lp2-course-proof__point-title {
    color: #242424;
}

a.lp2-course-proof__point:hover .lp2-course-proof__point-title {
    color: #e42312;
    text-decoration: underline;
}


a.lp2-course-proof__point:hover .lp2-course-proof__cta-title {
     color: #e42312;
    text-decoration: underline;
}



.lp2-course-proof__wrapper.four-grid .lp2-course-proof__point-content {

    padding: 20px;
}


.lp2-course-proof__wrapper .four-grid .lp2-course-proof__point-title {
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: 1400px) {
    .lp2-course-proof {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {

    /*Soft Content Inserts - Proof Points*/
    .lp2-full-width_narrow-margin {
        padding: 3vw 12vw;
    }

    .lp2-course-proof__wrapper {
        flex-direction: row;
    }
    .lp2-course-proof__point:first-child {
        margin-left: 0;
    }
    .lp2-course-proof__wrapper.four-grid .lp2-course-proof__point:first-child,
    .lp2-course-proof__wrapper.four-grid
        .lp2-course-proof__point-link:first-child {
        margin-left: 0;
    }
    .lp2-course-proof__point:last-child {
        margin-right: 0;
    }
    .lp2-course-proof__wrapper.four-grid .lp2-course-proof__point:last-child,
    .lp2-course-proof__wrapper.four-grid
        .lp2-course-proof__point-link:last-child {
        margin-right: 0;
    }
}

.course-contacts.sticky ul {
    border: 1px solid #fff;
}



/*---------------------------------------------------*/
/*  Feature List                                     */
/*---------------------------------------------------*/

section.lp2-feature-list {
    padding: 3vw 20vw;
}

.lp2-feature-list {
    background-color: #F4F4F4;
}

.lp2-feature-list[data-background-colour=grey] {
    background-color: #F4F4F4;
}

.lp2-feature-list[data-background-colour=white] {
    background-color: #FFFFFF;
}



.lp2-feature-list__one-column {

}

.lp2-feature-list .lp2-feature-list__heading {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
}

.lp2-feature-list__two-column .lp2-feature-list__content {
    display: flex;
    flex-direction: column;

}

.lp2-feature-list__two-column .lp2-feature-list__content .lp2-feature-list__col-1,
.lp2-feature-list__two-column .lp2-feature-list__content .lp2-feature-list__col-2 {
    margin: 0 20px;
    flex-grow: 1;
    flex-basis: 0;
}



.lp2-feature-list .lp2-feature-list__content ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


.lp2-feature-list .lp2-feature-list__content li {
    font-size: 16px;
    line-height: 24px;
    background-image: url("/__data/assets/file/0007/977587/icon_tick.svg");
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-left: 30px;
    margin-bottom: 30px;
}

@media (min-width: 1024px) {
    .lp2-feature-list__two-column .lp2-feature-list__content {
        flex-direction: row;
    }

    .lp2-feature-list__two-column .lp2-feature-list__content .lp2-feature-list__col-1 {
        margin-left: 0;
    }

    .lp2-feature-list__two-column .lp2-feature-list__content .lp2-feature-list__col-2 {
        margin-right: 0;
    }
}
