<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/sg-assets/css/style-guide.css?v={{ now.Unix }}">
</head>

<body>
    {{ partial "menus/main.html" . }}
