<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/ltu-v0.1.203.css"> -->
    {{ $style := resources.Get "css/ltu.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style-guide.css">
</head>

<body class="standard_page">
    {{ partial "menus/main.html" . }}
    <div class="wrapper Live a549405"> <!-- WRAP -->
        <main id="content" role="main">
            <!--noindex-->
            <!--
            <nav id="nav-container" class="nav-container lv-6271" role="navigation">
                <ul class="local-nav parent">
                    <li class="hide-nav"><button title="Hide navigation panel"></button></li>
                    <li class="root"><a href="https://www.latrobe.edu.au/students/getting-started/new-students">Information for new students</a>
                        <ul class="level-one">
                            <li class="current"><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol">Accept and enrol</a>
                                <ul class="level-two">
                                    <li><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol/campus">Enrol at your campus and next steps</a>
                                        <ul class="level-three">
                                            <li><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol/campus/victorian-campuses">Victorian campuses</a></li>
                                            <li><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol/campus/sydney-campus">Orientation</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol/international-enrolment">International enrolment</a></li>
                                    <li><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol/defer">How to defer your offer</a>
                                        <ul class="level-three">
                                            <li><a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol/defer/deferral-call-back-request">Call back request</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            -->
            <!--endnoindex-->
            <!--LAYOUT-->
            <section class="layout">
                <div class="main-content">
                    <div id="bodyContent" class="content-wrapper">
                        <!--<div class="breadcrumbs"><a href="https://www.latrobe.edu.au/students">Students</a> > <a href="https://www.latrobe.edu.au/students/getting-started">Starting at La Trobe</a> > <a href="https://www.latrobe.edu.au/students/getting-started/new-students">Information for new students</a> > <a href="https://www.latrobe.edu.au/students/getting-started/new-students/enrol">Accept and enrol</a></div>-->
