<div class="sg-menu">
    <label for="sg-menu" class="sg-menu-toggle">Menu</label> Latrobe web style guide
    <input type="checkbox" id="sg-menu" />
    <nav class="sg-menu-list">
        <ul>
            <li><a href="/">Overview</a></li>
        </ul>
        <p>Foundations</p>
        <ul>
            <li><a href="/grid">Grid</a></li>
            <li><a href="/colour">Colour</a></li>
            <li><a href="/typography">Typography</a></li>
        </ul>
        <p>Elements</p>
        <ul>
            <li><a href="/text">Text</a></li>
        </ul>
        <p>Components</p>
        <p>Blocks</p>
        <p>Templates</p>
    </nav>
</div>
